[project]
name = "TinyCTA"
version = "0.8.5"
description = "..."
readme = "README.md"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"}]
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.0.0",
    "pandas>=2.2.3"
]
[project.urls]
repository = "https://github.com/tschm/tinycta"

[dependency-groups]
dev = [
    "pre-commit==4.5.1",
    "marimo==0.18.4",
    "plotly>=6.5"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/tinycta"]
