[tool.poetry]
name = "TinyCTA"
version = "0.0.0"
description = "..."
authors = ["Thomas Schmelzer"]
readme = "README.md"
repository = "https://github.com/tschm/TinyCTA"
packages = [{include = "pycta"}]

[tool.poetry.dependencies]
python = ">=3.9.0"
QuantStats = "*"

[tool.poetry.dev-dependencies]
pytest = "7.2.0"
pytest-cov = "*"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
