[project]
name = "TinyCTA"
version = "0.9.0"
description = "..."
readme = "README.md"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"}]
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.0.0",
    "pandas>=2.2.3"
]
[project.urls]
repository = "https://github.com/tschm/tinycta"

[dependency-groups]
dev = [
    "pre-commit==4.5.1",
    "marimo==0.19.11",
    "plotly>=6.5",
    "pandas-stubs>=2.2"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/tinycta"]

[tool.deptry.package_module_name_map]
numpy = "numpy"
pandas = "pandas"
pandas-stubs = []
pre-commit = "pre_commit"
marimo = "marimo"
plotly = "plotly"

[tool.mypy]
ignore_missing_imports = true
