[tool.poetry]
name = "TinyCTA"
version = "0.0.0"
description = "..."
authors = ["Thomas Schmelzer"]
readme = "README.md"
repository = "https://github.com/tschm/TinyCTA"
packages = [{include = "tinycta"}]

[tool.poetry.dependencies]
python = ">=3.9.0,<3.12"
pandas = "*"

[tool.poetry.dev-dependencies]
pytest = "7.4.0"
pytest-cov = "*"
#mock = "*"

[tool.poetry.group.dev.dependencies]
cvxpy = "*"
#loguru = "*"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
