[project]
name = "TinyCTA"
version = "0.0.0"
description = "..."
readme = "README.md"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"}]
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.2.1",
]
[project.urls]
repository = "https://github.com/tschm/tinycta"

[dependency-groups]
dev = [
    "pytest-cov>=6.0.0",
    "pytest>=8.3.3",
    "pre-commit>=4.0.1",
    "pandas",
]

[tool.ruff]
line-length = 120
target-version = "py310"
exclude = [
    "*__init__.py"
]

[tool.ruff.lint]
select = ["E", "F", "I"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["tinycta"]

[tool.bandit]
exclude_dirs = [".venv", "tests"]
skips = ["B307"]
