name: pre-commit

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Build the virtual environment"
        uses: tschm/cradle/actions/environment@v0.1.58

      - uses: tschm/cradle/actions/coverage@v0.1.58
        with:
          source-folder: 'tinycta'
          tests-folder: 'tests'
          coveralls: 'true'

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: tschm/cradle/actions/pre-commit@v0.1.58

  deptry:
    runs-on: ubuntu-latest
    steps:
      - name: "Build the virtual environment"
        uses: tschm/cradle/actions/environment@v0.1.58

      - uses: tschm/cradle/actions/deptry@v0.1.58
        with:
          source-folder: 'tinycta'
